/* 
========================================
 THIS IS THE MAIN CONTAINER OF THE PAGE 
========================================
*/

#mainPage {
    width: 992px;
    font-family: sans-serif;
    align-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* 
========================================
 THIS IS THE HEADER SECTION OF THE PAGE 
========================================
*/

header {
    width: 992px;
    background-color: white;
    color: black;
    padding: 0;
    clear: both;
}

a {
    color: black;
    
}

a:visited {
    color: black;
}

#menu {
    float: left;
    width: 100%;
    background-color: #C0AFAF;
    border-bottom: 1px solid #b56617;
    overflow: hidden;
    position: relative;
    clear: both;
    margin-bottom: 20px;
    
}

#menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
    

}

#menu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    

}

#menu ul li a {
    margin:0 0 0 1px;
    padding:3px 10px;
    color: black;
    text-decoration:none;
    
}

/*  
========================================
          Hovering over the link 
========================================
*/

#menu ul li a:hover {
    background-color: #522424;
    color: #f5f5f5;
    border-radius: 2px;
    
    
}

#topRight ul {
   clear: left;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
}

#topRight ul li {
    display: block;
    float: right;
    position: relative;
}

#topRight ul li a {
    margin: 0 0 0 1px;
    padding: 3px 6px;
    text-decoration:none;
}

#topRight ul li a:hover{
    background-color: #C0AFAF;
}

/*  
========================================
  THIS IS THE MAIN SECTION OF THE PAGE 
========================================
*/

section {
    width: 100%;
    margin-bottom: 20px;
      
}

section main {
    float: left;
    display: inline-block;
    padding: 2px;
    width: 78%;
    
    
}

section main hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    
}

section img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #C0AFAF;
    padding: 2px;
    float: left;
    margin-bottom: 20px;
    

}

section main div {
    margin-bottom: 10px;
    font-size: 12px;
    clear: left;
    padding: 10px;
    overflow: auto;
}


.statusContent {
    text-align: justify;

}

.statusName {
    font-weight:800;
    color: #522424; 
}

.statusDate {
    font-style: italic;
    
}

section aside {
    float: right;
    background-color: #C0AFAF;
    padding: 2px;
    display: inline-block;
    
    
}

section aside div img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #C0AFAF;
    padding: 2px;
    float: left;
}

section aside div {
    font-size: 11px;
    float: left;
    clear: left;
    
}

.featured {
    margin-bottom: 20px;
    clear: right;
    
}

.popName {
    font-size: 12px;
    font-weight: 800;
    color: #522424;
    float: left;
    
}

.popBio {
    margin-bottom: 10px;
    
}

/*  
========================================
             The footer section 
========================================
*/

footer {
    clear: both;
    background-color: #522424;
    color: white;
    font-size: 11px;
    bottom: 0;
    position: fixed;
    width: 992px;
}

footer a {
    color: aqua;
}